#popup{
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.4);

    .popup-inside{
        width: 800px;
        margin: auto;
        background-color: #fefefe;
        padding:50px 100px;

        .form-wrap{
            form{
                input, textarea{
                    display: block;
                    margin: 10px 5px;
                }

                input[type = text], textarea{
                    width:100%;
                }

                textarea{
                    height:100px;
                }

                input[type = submit]{
                    background-color: #1d3285;
                    color: #fff;
                    padding: 10px 20px;
                    border: 0;
                    border-radius: 5px;
                    margin-top:10px;
                }
            }
        }
    }
}