.todo-wrap{
  margin-top: 40px;

  .todo{
    background-color: #30475e;
    color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    max-width: 600px;

    h2{
      font-size: 25px;
      margin-bottom: 15px;
    }

    p{
      line-height: 23px;
    }
  }
}